/* blok cover */
.cover {
  width: 1184px;
  height: 740px;
  position: relative;
  margin: 0 auto;
}
.cover__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
}

.cover__title {
  position: relative;
  max-width: 656px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 76px;
  padding-top: 243px;
  margin-right: auto;
  margin-left: auto;
  z-index: 10;
  text-align: center;
}
.cover__subtitle-container {
  width: 280px;
  font-size: 18px;
  line-height: 122.222%;
  margin: 0 auto;
}
.cover__subtitle {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0;
  z-index: 9;
}
.cover__beli-tiket {
  position: relative;
  display: flex;
  justify-content: center;
  width: 97px;
  height: 22px;
  z-index: 5;
  margin: 32px auto 243px;
  border-radius: 4px;
  background: #0278fe;
  padding: 13px 20px;
  font-size: 18px;
}
.cover__beli-tiket {
  color: #fff;
  text-decoration: none;
}
.cover__image {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.cover__image:hover {
  transition: opacity 0.3s ease-in-out;
}
.cover:hover .cover__image {
  opacity: 0.3;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cover__image {
    width: 100%;
    object-fit: cover;
  }
}
