/* intro */
.intro {
  max-width: 883px;
  width: 100%;
  margin: 92px 148px 66px;
}
.intro__title {
  min-height: 116px;
  margin: 92px 0 40px;
  font-size: 54px;
  font-style: normal;
  font-weight: 900;
  line-height: 107.407%;
}
.intro__paragraph {
  margin: 0;
  font-size: 24px;
}
.intro__author {
  display: flex;
  justify-content: end;
  font-size: 24px;
  margin-right: 0;
}
.intro__description {
  min-height: 208px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 163%;
  margin-bottom: 66px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .intro {
    margin: 92px auto 66px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .intro {
    margin: 92px auto 66px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 109.375%;
  }
}
