.lead {
  margin-top: 91px;
}

.lead__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lead__title {
  margin: 0;
  width: 793px;
  flex-shrink: 0;
  text-align: center;
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: 104.167%;
}
.lead__subtitle {
  width: 720px;
  flex-shrink: 0;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .lead {
    margin-top: 40px;
  }

  .lead__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .lead__title {
    margin: 0;
    /* max-width: 100%; */
    width: 288px;
    font-size: 40px;
    font-weight: 900;
    line-height: 1.1;
  }

  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
  .lead__image {
    width: 100%;
  }
}
